body {
  margin: auto;
  background: #f1efef;
}
header {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url('../images/header.jpg');
}

span {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
}

p {
font-family: 'Roboto', sans-serif;
max-width: 40rem;
padding: 1rem;
font-size: 1rem;
line-height: 1.5rem;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mobiletitle {
display: none;
}

button {
padding:       8px 20px;
background: #87abc1;
color:        #87abc1;
font-family: 'Roboto Slab', serif;
text-align:    center;
margin:        auto;
}

#title {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(30%, -50%)
}

a:link {
color: #1A1A1A;
}

a:visited {
  color: #1A1A1A;
  }

a:focus {
  color: #1A1A1A;
  }

a:hover {
  color: #1A1A1A;
  }

a:active {
  color: #1A1A1A;
  }

a {
  text-decoration: none;
  }

@media only screen and (max-width: 800px){
  #title {
       display: none;
     }

  #mobiletitle {
      display: block;
      position: absolute;               /* 2 */
      top: 50%;                         /* 3 */
      margin-left: 1rem;
      }

}
